.code-section {
  height: 90vh;
  overflow-y: scroll;
  padding: 4rem;
}

.code-section .title_subtitle__code .goBackAndTitle {
  display: flex;
}

.code-section .title_subtitle__code .goBackAndTitle h2 {
  padding-left: 2rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.code-section .title_subtitle__code .goBackAndTitle img {
  width: 24px;
  height: 24px;
}

.title_subtitle__code p {
  margin-top: 1.7rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.title_subtitle__code .form-code {
  margin: 0 auto;
  width: 50%;
  min-width: 325px;
}
.title_subtitle__code .form-code label {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.title_subtitle__code .form-code input {
  height: 3.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.code-section .new-password {
  margin-top: 5rem;
}

.code-section .new-password h3 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.code-section .new-password p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
}
.code-section .new-password .form-password {
  margin: 0 auto;
  width: 50%;
  min-width: 325px;
}
.code-section .new-password label {
  padding-left: 0;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.code-section .new-password input {
  height: 3.8rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.code-section .new-password button {
  margin-top: 6.6rem;
  margin-bottom: 6.6rem;
  height: 3.8rem;
  width: 100%;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.code-section .invalid-feedback {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
