.signIn-details {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.signIn-details a {
  color: var(--green);
}
.signIn-details form {
  display: flex;
  flex-direction: column;
}
.signIn-details h2 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
}
.signIn-details .farmacyTitle_container p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin-bottom: 2.7rem;
}

.signIn-details .label {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}

.signIn-details .custom-row {
  margin-bottom: 1.6rem;
  align-items: center;
}
.signIn-details .custom-row.row4 {
  width: 100%;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.custom-row.row4 .checkbox {
  margin: 0;
  width: 1.6rem;
  height: 100%;
  margin-right: 1.6rem;
  align-self: flex-start;
}
.custom-row.row4 .checkbox input {
  width: 1.6rem;
  height: 1.6rem;
}
.acepto-terminos-signIn {
  font-size: 1.2rem;
}

.acepto-terminos-signIn {
  width: 200px;
}
.signIn-details .custom-row input {
  widht: 100%;
  height: 3.8rem;
  margin-left: 0.7rem;
  font-size: 1.6rem;
}
.signIn-details .checkbox {
  margin-top: 6.7rem;
  margin-bottom: 4rem;
}
.signIn-details button {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  align-self: center;
}

.signIn-details form img {
  width: 0;
  height: 0;
}

.signIn-details .invalid-feedback {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .signIn-details {
    width: 100vw;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
  }
  .signIn-details form {
    display: grid;
    grid-template-columns: 25.3rem 25.3rem auto;
    grid-template-rows: 6.9rem 6.9rem 10rem 10rem;
    row-gap: 4rem;
    column-gap: 4rem;
  }
  .signIn-details .row1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .signIn-details .row2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .signIn-details .row3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .signIn-details .row4 {
    padding-top: 4rem;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }
  .signIn-details form img {
    width: 25.6rem;
    height: 24.8rem;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
  }
  .signIn-details button {
    width: 164px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    margin: 0 auto;
  }
  /*   .signIn-details form img {
    width: inherit;
    height: inherit;
  } */
  .acepto-terminos-signIn {
    width: 399px;
  }
}

@media (min-width: 1440px) {
  .signIn-details h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.3rem;
    padding-bottom: 2rem;
  }
  .signIn-details .farmacyTitle_container p {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
    margin-bottom: 2.7rem;
  }
  .signIn-details form {
    position: relative;
    display: grid;
    grid-template-columns: 41.3rem 41.3rem auto;
    grid-template-rows: 6.9rem 6.9rem 10rem 10rem;
    gap: 4rem;
  }
  .signIn-details .row4 {
    padding-top: 4rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }
  .signIn-details form img {
    position: absolute;
    width: inherit;
    height: inherit;
    top: -200px;
    right: 20px;
  }
  .signIn-details button {
    width: 31.5rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    margin: 4rem auto 0 auto;
  }
  .signIn-details .custom-row .invalid-feedback {
    font-size: 1.4rem;
  }
}
