.container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 24px;
  gap: 50px;

  /* position: absolute; */
  width: 64rem;
  height: auto;
  left: 519px;
  /* top: 247px; */

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.form {
  font-size: 1.5rem;
}

.titulo {
  font-size: 2rem;
}

.info {
  font-size: 1.5rem;
  color: #767676;
}

.texto {
  font-size: 1.5rem;
}

.buttonTurno {
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #767676;
}

.buttonHorario {
  font-size: 1.5rem;

  background-color: rgb(26, 156, 113);
  width: 28.5rem;
  
}

.buttonTurno--active {
  background-color: rgb(26, 156, 113);
}

.buttonHorario--inactive {
  font-size: 1.5rem;
  background-color: #767676;
}

.modal {
  display: flex;
  flex-wrap: wrap;
}

.buttonModal {
  margin: 1rem;
  font-size: 1.5rem;
  color: rgb(26, 156, 113);

  background-color: rgb(254, 255, 255);
}

@media (max-width: 850px) {
  .container {
    justify-content: center;
    width: 100%;
    height: 100%;
    /* left: 519px;
    top: 247px; */
    margin-top: 2rem;
  }
  .form {
    font-size: 1.1rem;
  }
  
  .titulo {
    font-size: 1.5rem;
  }
  
  .info {
    font-size: 1.1rem;
  }
  .texto {
    font-size: 1.1rem;
  }
  .buttonTurno {
    font-size: 1.1rem;
  }
  
  .buttonHorario {
    font-size: 1.1rem;
    width: 200px;
  }
  .buttonHorario--inactive {
    font-size: 1.1rem;
  }
  .buttonModal {
    font-size: 1.1rem;
  }
 
}
@media (max-width: 430px) {
    .container {
        display: flex;
  flex-direction: column;
        
width: auto;
height: auto;
top: 0px
      }
      
}
