.errorPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorPage h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.errorPage img {
  margin-bottom: 2rem;
}
.errorPage button {
  font-size: 2rem;
  width: 50%;
}
