.general-consult {
  background-color: #fafafa;
  /* height: 90%; */
  display: grid;
  grid-template-columns: 1fr 20fr;
}
.body-consult {
  width: 100%;

  margin: 2rem;
}
.titulo-consult {
  font-size: 1.5rem;
}
.table {
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  width: 85%;
}

.encabezado {
  border-bottom: 2px solid #008c73;
}
.td {
  border-bottom: 1px solid #b4bbba;
  height: 5rem;
}

@media (max-width: 850px) {
  .general-consult {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 0px;
  }
  .margin {
    margin: 0pxs;
    height: fit-content;
  }
  .body-consult {
    width: fit-content;
    margin: 1rem;
  }
}

@media (max-width: 360px) {
    .general-consult {
        grid-template-rows: 10% 90%;
      }
      .table {
       margin-left: 0;
       margin-right: 2rem;
        width: 100%;
      }
}
